@model StoreUI.Areas.Admin.ViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductType</h4>
<hr />
<div class="row admin">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-input" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVisible" checked /> @Html.DisplayNameFor(model => model.IsVisible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TypeImage" class="control-label">Images</label>
                <input type="file" class="form-control" asp-for="TypeImage" accept=".jpg, .png, .jpeg, .webp, .gif, .bmp, .tif, .tiff, image/*" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="add-btn create" />
            </div>
        </form>
        <div>
            <a class="add-btn back" asp-action="Index">Back to List</a>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
