@model string

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    Add new roles
    <div class="form-group">
        
        <input name="name" class="form-input" />
        <label for="name">New roles</label>
    </div>
    <button type="submit" class="add-btn">Add</button>
</form>