@model IEnumerable<Product>
@{
    ViewData["Title"] = "Part Store";
}

<div class="containerr ">
    <div class="hero">
        <div class="slideshow-container">

           
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="https://html5css.ru/howto/img_nature_wide.jpg" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="https://html5css.ru/howto/img_snow_wide.jpg" style="width:100%">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="https://html5css.ru/howto/img_lights_wide.jpg" style="width:100%">
                <div class="text">Caption Three</div>
            </div>

           
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </div>
   @* <div class="row row-cols-5">
    @foreach (var product in Model)
    {
        <div class="col card m-2" style="width: 18rem;">
                <img src="https://www.texet.md/images/products/intel_core_i5_8400/intel-core-i5-8400.jpg" class="card-img-top" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title"><a href="#">@product.Name</a></h5>
                <p class="card-text">@product.Description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="card-text text-success">@product.Price</p>
                    </div>
                    <a href="#" class="btn btn-outline-primary btn-sm">Сторінка товару</a>
                </div>
            </div>
        </div>
    }
    </div>*@
    <section class="products-cards">
         <div class="card-container">
             <div class="card-img">
                 <img class="hero-image" src="https://www.texet.md/images/products/intel_core_i5_8400/intel-core-i5-8400.jpg" alt="Spinning glass cube" />
             </div>
             
             <div class="card-content">
                     <h3 class="product-name"> product.Name </h3>
                 <p class ="product-description">Our Equilibrium collection promotes balance and calm. </p>
                 <a  href="" class="product-link">Show more..</a>
                <div class="card-tags">
                     <span class="product-price">Price: $123</span>
                     <button class="add-order-btn"> Add </button>
                 </div>
             </div>
         </div>
        
        

    </section>
   
</div>
