@model ICollection<ProductType>
@{
    ViewData["Title"] = "Part Store";
}
<section id="fon-anim">
<div class="containerr ">
    <div class="wrapper">
        <div class="cataloge-aside">
            <h2 class="section-title">Catalog</h2>
            <ul class="cataloge-list">
                    @foreach (var type in Model)
                     {
                        <li class="cataloge-list-item">
                            <a class="cataloge-list-link" asp-controller="Home" asp-action="Catalog" asp-route-typeid="@type.Id"> <img class="cataloge-list-img" src="@Url.Content("~/productFiles/img/" + type.TypeImagepath)" alt="@type.Value" /> <span>@type.Value</span></a>
                        </li> 
                    }
            </ul>
        </div>
        <div class="main-content">
            <div class="hero">
                <div class="slideshow-container">


                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                            <img src="https://w.wallhaven.cc/full/96/wallhaven-96yzzd.png" style="width:100%">
                        <div class="text"></div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                            <img src="https://images.wallpaperscraft.ru/image/single/sistemnyj_blok_kompiuter_materinskaia_plata_207070_1920x1080.jpg" style="width:100%">
                        <div class="text"></div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="https://images.wallpaperscraft.ru/image/single/podsvetka_neon_elektronika_144683_1920x1080.jpg" style="width:100%">
                        <div class="text"></div>
                    </div>


                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>


                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>

            </div>
           

            <div class="description-cont">
                <h3 class="description-cont-title">Ласкаво просимо до <span class="logo-span">Part</span>Store!</h3>
                <p>
                      Ми раді представити вам широкий асортимент якісних комп'ютерів та комплектуючих, що допоможуть вам підняти планку вашого досвіду роботи на комп'ютері до нового рівня. Наші продукти відомих світових брендів дозволять вам насолоджуватися високою продуктивністю та бездоганною якістю.

                    PastStore - ваш надійний партнер у справах технологій! Наші фахівці завжди готові допомогти вам з вибором оптимального конфігурації для ваших потреб. Ми пропонуємо широкий асортимент комплектуючих для ПК, готових систем, а також можливість збірки комп'ютера згідно з вашими індивідуальними потребами.

                    Наш каталог включає в себе останні моделі процесорів, відеокарт, оперативної пам'яті, накопичувачів та багато іншого. Ми також пропонуємо швидку доставку та гарантію якості на всі наші товари.

                    Зробіть ваш вибір у бік найсучасніших технологій разом з PartStore!
                </p>
            </div>
        </div>

    </div>
    
   @* *@
    
   
</div>
</section>