@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="center-block">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quibusdam
    reiciendis reprehenderit, eligendi pariatur quod ipsam sequi praesentium
    quisquam porro laboriosam voluptate commodi laudantium non iusto
    doloremque ut optio quos fugit deserunt tenetur voluptas minus quia eum.
    Nemo, ut voluptatibus autem magnam deserunt animi ducimus accusantium
    tempora enim eaque quaerat fugit velit minus eveniet repellat facilis, ad
    libero qui esse quas! Ad itaque voluptates velit labore earum quasi
    impedit numquam saepe asperiores iure enim eaque, temporibus quidem
    debitis dignissimos explicabo!
</p>
</div>
