@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<ul class="nav-users">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-users-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li>

            <a class="nav-link icon btn-icon" asp-controller="Home" asp-action="Cart" >

                
                <svg width="25" height="25">
                    <use href="img/icons.svg#icon-cart "></use>
                </svg>
                
            </a>

    </li>
        <li class="nav-users-item">
        <form  class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

                <a class="nav-link icon btn-icon"  class="icon">

                    <svg width="25" height="25">
                        <use href="img/icons.svg#icon-enter "></use>
                    </svg>
            </a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link icon" asp-area="Identity" asp-page="/Account/Register">
                <svg width="25" height="25">
              <use href="img/icons.svg#icon-user-reg "></use>
            </svg>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link icon" asp-area="Identity" asp-page="/Account/Login">
                <svg width="25" height="25">
                    <use href="img/icons.svg#icon-enter "></use>
                </svg>
            </a>
    </li>
}
</ul>
