@model IEnumerable<CartProduct>
@{
    ViewData["Title"] = "Cart - Part Store";
}

<section>
    <div class="containerr">
        <h2 class="section-title">Кошик</h2>
        <div class="card-page-content" id="cardPageContent">
            @foreach(var item in Model)
            {
            <div class="product-item">
                    <img src="@Url.Content("~/productFiles/img/" + item.Product?.Images.First().Path)"
                     alt="@item.Product?.Name" />
                <div>
                        <h3 class="card-name-product">@item.Product?.Name</h3>
                        <p>Price: $<span>@item.Product?.Price</span></p>
                </div>
                <div class="crad-btn-div">
                    <button class="card-btn add" onclick="addToOrder(1)">
                        Add to payment
                    </button>
                    <button class="card-btn remove">Delete</button>
                </div>
            </div>
            }
            <a class="continue-card" href="./catalog.html">Продовжити покупки</a>
        </div>
        <h3 class="card-order-title">Замовлення</h3>
        <div class="order-form" id="orderForm">
            <div class="card-orders-block" id="cardOrdersBlock">
            </div>
            <h3 class="card-order-title">
                Total price: <span id="total-price">0$</span>
            </h3>
            <form class="card-form" id="checkout-form">
                <label for="name">Ім'я:</label>
                <input type="text" id="name" name="name" required />

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />

                <label for="address">Адреса:</label>
                <textarea id="address"
                          name="address"
                          rows="3"
                          cols="50"
                          maxlength="60"
                          required></textarea>

                <button class="card-btn add" type="submit">Замовити</button>
            </form>
        </div>
    </div>
    <script src="./card.js"></script>
</section>