@{
    ViewData["Title"] = "Cart - Part Store";
}
<section>
    <div class="containerr">
        <h2 class="section-title">Order created</h2>
            <a class="continue-card" asp-controller="Home" asp-action="Catalog">Продовжити покупки</a>
    </div>
</section>