@{
}

<main>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Component</th>
                <th scope="col">Overview</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Product page</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Processor</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Motherboard</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">RAM</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Graphics Card</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">CPU Cooler</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Case Cooler</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Storage</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Power Supply</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
            <tr>
                <th scope="row">Case</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn-danger">X</button></td>
            </tr>
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <th scope="row">Total price</th>
                <td></td>
                <td></td>
                <td></td>
                <td>Price</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</main>
